<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bd.user.dao.UserMapper">

	<resultMap type="com.bd.user.data.User" id="userResultMap">
		<id property="id" column="id" />
	</resultMap>

	<select id="getByUsername" resultMap="userResultMap"
		parameterType="String">
		SELECT
		id,
		username,
		passwrod,
		enabled,
		locked
		FROM
		BD_WEB_USER
		username = #{username}
	</select>

</mapper>