<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bd.base.dao.UserMapper">

	<resultMap type="com.bd.base.data.User" id="userResultMap">
		<id property="id" column="id" />
	</resultMap>

	<select id="getByUsername" resultMap="userResultMap"
		parameterType="String">
		SELECT
		id,
		username,
		passwrod,
		enabled,
		locked
		FROM
		BD_WEB_USER
		username = #{username}
	</select>
	<update id="update">
		UPDATE BD_WEB_USER
		<trim prefix="set" suffixOverrides=",">
			<if test="username != null">
				username = #{username},
			</if>
			<if test="password != null">
				password = #{password},
			</if>
			<if test="email != null">
				email = #{email},
			</if>
			<if test="online != null">
				online = #{online},
			</if>
			<if test="enabled != null">
				enabled = #{enabled},
			</if>
			<if test="locked != null">
				locked = #{locked},
			</if>
			<if test="createtime != null">
				createtime = #{createtime},
			</if>
			<if test="updatetime != null">
				updatetime = #{updatetime},
			</if>
			<if test="nickname != null">
				nickname = #{nickname},
			</if>
			<if test="cellphone != null">
				cellphone = #{cellphone},
			</if>
			<if test="showname != null">
				showname = #{showname},
			</if>
			<if test="headpic != null">
				headpic = #{headpic},
			</if>
			<if test="qq != null">
				qq = #{ qq},
			</if>
			<if test="usertype != null">
				usertype = #{usertype},
			</if>
		</trim>
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="String">
		delete from BD_WEB_USER where
		id=#{id}
	</delete>
</mapper>